<ion-view title="Chat">

  <ion-content class="padding chat-window">

    <div class="row">
      <div class="col col-15">
        <img src="img/img9.jpg" width="100%">
      </div>
      <div class="col col-85">
        <div class="arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-85">
        <div class="l_arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
      <div class="col col-15">
        <img src="img/img2.jpg" width="100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-15">
        <img src="img/img9.jpg" width="100%">
      </div>
      <div class="col col-85">
        <div class="arrow_box" >
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-85">
        <div class="l_arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
      <div class="col col-15">
        <img src="img/img2.jpg" width="100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-15">
        <img src="img/img9.jpg" width="100%">
      </div>
      <div class="col col-85">
        <div class="arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-85">
        <div class="l_arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
      <div class="col col-15">
        <img src="img/img2.jpg" width="100%">
      </div>
    </div>

    <div class="row">
      <div class="col col-15">
        <img src="img/img9.jpg" width="100%">
      </div>
      <div class="col col-85">
        <div class="arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-85">
        <div class="l_arrow_box">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry
        </div>
      </div>
      <div class="col col-15">
        <img src="img/img2.jpg" width="100%">
      </div>
    </div>

  </ion-content>

</ion-view>

<style>
.row{
  margin-bottom: 10px;
}
</style>